{% extends 'bricks/__html.njk' %}

{% block head %}
{% bricksDependencies [
  'https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7/css/all.min.css',
  'https://cdn.jsdelivr.net/npm/@anydigital/bricks@^1.0.0-alpha/dist/bricks.min.css',
  '/styles.css'
] %}
{% endblock %}

{% block body %}
<main id="main" class="flex flex-col justify-center">
  <article class="prose breakout">
    {{ content | safe }}
  </article>
</main>
<footer class="prose text-center">
  Made with <i class="fa-solid fa-heart fa-sm"></i> × <i class="fa-solid fa-mug-hot relative -top-[0.1em]"></i>
  by <a href="https://any.digital/" target="_blank"><em>Any</em>digital</a> © 2025–{{ site.year }}
</footer>
{% endblock %}
