{% extends 'bricks/__html.njk' %}

{% block body %}
  <main>
    <article class="prose xl:prose-2xl breakout breakout-headings">{{ content | safe }}</article>
  </main>

  <footer class="prose">{{ site.footer | renderContent('njk', site) | safe }}</footer>
{% endblock %}
