{% set _ = { site: site, page: page, title: title } %}
{% renderFile 'src/_theme/bricks/__html-begin.liquid', _ %}

<main>
  <article class="prose xl:prose-xl breakout breakout-headings">
    {{ content | safe }}
  </article>
</main>

<footer class="prose">
  {{ site.footer | renderContent('liquid', site) | safe }}
</footer>

{% renderFile 'src/_theme/bricks/__html-end.liquid', _ %}
