{% set _ = {
  site: site,
  page: page,
  title: title
} %}
{% renderFile 'src/_theme/bricks/__html-begin.liquid', _ %}

<main class="prose">
  {{ content | safe }}
</main>

<footer class="prose text-center">
  {{ site.footer | renderContent('liquid', site) | safe }}
</footer>

{% renderFile 'src/_theme/bricks/__html-end.liquid', _ %}
