{% # html %}
{% include 'bricks/__html-begin' %}

<main>
  <article class="prose xl:prose-xl breakout breakout-headings">{{ content }}</article>
</main>

<footer class="prose">{{ site.footer | renderContent: 'liquid', site }}</footer>

{% include 'bricks/__html-end' %}
