{% # html %}
{% include 'bricks/__html-begin' %}

<main>
  <article class="prose xl:prose-xl breakout breakout-headings">
    {% # prettier-ignore %}
    {{ content }}
  </article>
</main>

<footer class="prose">
  {% # prettier-ignore %}
  {{ site.footer | renderContent: 'liquid', site }}
</footer>

{% include 'bricks/__html-end' %}
