@import "tailwindcss" source(none);
@source "../../src*/**/*.{liquid,njk,md}";

@plugin "@tailwindcss/typography";

/* Custom styles go below */
@layer base {
  main {
    @apply flex flex-col justify-center py-[3em];
  }
  footer {
    text-align: center;
  }
  ol {
    @apply md:grid md:grid-cols-2;
  }
  mark {
    @apply bg-teal-200;
  }
  li a > img {
    @apply inline-block !m-0;
  }
}
@layer utilities {
  .prose {
    padding: 1rem;
  }
}
