@import "tailwindcss" source(none);
@source "../../src*/**/*.{liquid,njk,md}";

@plugin "@tailwindcss/typography";

/* Custom styles go below */
@layer base {
  h1 {
    margin-bottom: 0.5em !important;
  }
  ol {
    @apply md:grid md:grid-cols-2;
  }
  mark {
    @apply bg-teal-200;
  }
  /*** @TODO: move to Bricks CSS ***/
  h2 {
    margin-top: 2.5em !important;
  }
  a {
    hyphens: none;
  }
  li a > img {
    display: inline-block;
    margin: 0 !important;
  }
  .invert {
    ::-webkit-scrollbar {
      filter: invert(1) !important;
    }
  }
  /* Prism */
  .token.treeview-part {
    .entry-line {
      width: 2.5em !important;
      opacity: 25%;
    }
    .entry-name:last-child {
      opacity: 50%;

      &::before {
        display: none !important;
      }
    }
  }
  /*** end @TODO ***/
}
