@import "tailwindcss" source(none);
@source "../../src*/**/*.{liquid,njk,md}";

@plugin "@tailwindcss/typography";

/* Custom styles go below */
@layer base {
  main {
    @apply flex flex-col justify-center py-[3em];
  }
  footer {
    @apply text-center;
  }
  ol {
    @apply md:grid md:grid-cols-2;
  }
  mark {
    @apply bg-teal-200;
  }
  li a > img {
    display: inline-block;
  }
}
