@import "tailwindcss" source(none);
@source "../../src*/**/*.{liquid,njk,md}";

@plugin "@tailwindcss/typography";

/* Custom styles go below */
@layer base {
  h1 {
    margin-bottom: 0.5em !important;
  }
  /* @TODO: move to Bricks CSS */
  h2 {
    margin-top: 2.5em !important;
  }
  ol {
    @apply md:grid md:grid-cols-2;
  }
  mark {
    @apply bg-teal-200;
  }
  /* @TODO: move to Bricks CSS */
  li a > img {
    display: inline-block;
    margin: 0 !important;
  }
  /* Prism @TODO: move to Bricks CSS */
  .token.treeview-part .entry-line {
    width: 2.5em !important;
  }
  .token.treeview-part .entry-name:last-child {
    opacity: 40%;

    &::before {
      display: none !important;
    }
  }
}
